.ipynb_checkpoints/
.jupyter/
models/age_models/datasets/*
lib/
pyvenv.cfg
.jupyter_ystore.db
.DS_Store
*.tar.gz
__pycache__
.keras
cropped
*.csv
*.tar*
*.keras
.idea/
~depricated_code/
lib64/*
include/*
bin/*
*.env